.whiteBlocks::-webkit-scrollbar{
    background: #c2c2c2;
    height: 5px;
    border-radius: 100px;   
    overflow: hidden;
  }
  
  .whiteBlocks::-webkit-scrollbar-thumb{
    background: #4E6F54;
    border-radius: 100px;   
  }