.react-calendar{
    background: #ffffff1e !important;
    width: 100% !important;
    border: none !important;
    font-family: var(--font-mont) !important;
    backdrop-filter: blur(100px) !important;
    border-radius: 30px;
    margin: 20px auto;
    overflow: hidden;
    min-width: 320px;
}
.react-calendar__tile{
    padding: 30px !important;
    transition: 0.3s;
    border: 1px solid rgba(29, 29, 29, 0.541) !important;
}
.react-calendar__tile:disabled{
    background: #2b2b2b !important;
    color: #353535 !important;
}
.react-calendar__tile:active{
    scale: 0.8;
}
.react-calendar__tile:hover{
    background: rgba(0, 0, 0, 0.274) !important;
    border: 1px solid white;
}
.react-calendar__month-view__days__day--weekend{
    color: #297029 !important;
}
.react-calendar__tile--active{
    background: #4E6F54 !important;
    color: white !important;;
}

.react-calendar__tile--now{
    background: rgb(85, 85, 156) !important;
    color: white !important;;
}

.booked{
    background: rgb(177, 74, 74) !important;
    color: white !important;
}